<div class="container">
    <h2>Upcoming</h2>
    <mat-card cdkDropList #todoList="cdkDropList" class="list text" (cdkDropListDropped)="drop($event)">
        <p class="empty-label" *ngIf="(todosArray)?.length === 0">Empty list</p>
        <div class="box" *ngFor="let todo of todosArray" cdkDrag>
            <mat-checkbox [checked]="todo.checked" class="margin"></mat-checkbox>
            <input #input (blur)="updateTask($event, todo.id)" [attr.order]="todo.order" value="{{input.value || todo.description}}" />
        </div>
        <button mat-button (click)="addItem('New task', false)">Add new</button>
        <div *ngIf="auth.user | async as user; else showLogin">
            <button mat-button (click)="logout()" class="auth-button">Logout</button>
        </div>
        <ng-template #showLogin>
            <button mat-button (click)="login()" class="auth-button">Save your list</button>
        </ng-template>
    </mat-card>

</div>
