<mat-toolbar color="primary">
  <span>To-do for the week</span>
</mat-toolbar>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container">
      <h2>Upcoming</h2>
      <ul>
        <div class="text" *ngFor="let todo of todos | async">
          {{todo.title}} {{todo.description}}
        </div>
      </ul>
      
    </div>

    <div class="container">
      <h2>In progress</h2>
    </div>

    <div class="container">
      <h2>Done</h2>

    </div>
  </div>

  <app-tmdb></app-tmdb>

  <app-hn></app-hn>

</div>

<app-footer></app-footer>
