.mat-drawer {
  width: 200px;
  padding: 1rem 1rem;
}

.sidebar-container .nav-item {
    margin: 1rem 0rem;
}

.sidebar-container .nav-item a {
    color: #2c2c2c;
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    padding: 10px;
}

.sidebar-container a {
  text-decoration: none;
}

.sidebar-container .nav-item.active a {
  color: #fefefe;
}

.sidebar-container .nav-item:hover a {
  color: #2c2c2c;
}

.sidebar-container .nav-item:hover {
  background: #dbdbdb;
  box-shadow: none;
  cursor: pointer;
}

.sidebar-container .active {
  background: #f436b1;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
}

.sidebar-container i {
    vertical-align: middle;
  }

mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar>span {
  margin-left: 10px;
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
}

.container {
    padding: 1rem 1rem;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.content-wrapper {
  padding: 1rem 1rem;
}
.hidden {
    display: none;
}