<div class="section">
  <div class="section-header">
    <h2>Movies</h2>
  </div>
  <div class="wrapper">
    <mat-card class="movies-list" *ngFor="let movie of movies | slice:0:3">
      <div class="container poster" style="background-image: url({{baseURL + movie.poster_path}})">
        <p class="movie--title">
          {{ movie.title }}
        </p>
        <p class="movie--release-date">
          {{ movie.release_date }}
        </p>
        <p class="movie--overview">
          {{ movie.overview }}
        </p>
      </div>
    </mat-card>
    <mat-card class="movies-list" *ngFor="let movie of movies | slice:3:6">
      <div class="container">
        <p class="movie--title">
          {{ movie.title }}
        </p>
        <p class="movie--release-date">
          {{ movie.release_date }}
        </p>
        <p class="movie--overview">
          {{ movie.overview }}
        </p>
      </div>
    </mat-card>
  </div>
</div>