.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}
@media screen and (min-width: 600px) {
    .container {
        flex-wrap: nowrap;
    }
}
.movies-list {
    padding: 1rem;
}